/* 公共 select */
.select-box {
    right: 0;
    top: -44px;
    line-height: 30px;
    border: solid 1px #666666;
    padding-left: 14px;
    padding-right: 34px;
    display: inline-block;
    border-radius: 4px;
    background: #ffffff;
    position: absolute;
}

.com-sel {
    cursor: pointer;
    border: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
}