/* 课程分页 */
.ivu-page-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  text-align: center;
  list-style: none;
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  background: rgba(239, 239, 239, 1);
  border-radius: 2px;
  cursor: pointer;
  margin: 0 5px!important;
  -webkit-transition: border .2s ease-in-out, color .2s ease-in-out;
  transition: border .2s ease-in-out, color .2s ease-in-out
}
.ivu-page-item-jump-next,
.ivu-page-item-jump-prev,
.ivu-page-next,
.ivu-page-prev {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  background: rgba(239, 239, 239, 1);
  border-radius: 2px !important;
}
.ivu-page-item-active {
  background: rgba(2, 103, 255, 1);
}
.ivu-page-item-active a,
.ivu-page-item-active:hover a {
  color: #ffffff;
}
.ivu-page-disabled a {
  color: #666666;
}
/* 题库答疑 上传图片 */
 .course_img .demo-upload-list {
   display: inline-block;
   width: 80px;
   height: 80px;
   text-align: center;
   line-height: 80px;
   border-radius: 4px;
   overflow: hidden;
   background: #fff;
   position: relative;
   box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
   margin-right: 10px;
 }

 .course_img .demo-upload-list img {
   width: 100%;
 }

 .course_img .demo-upload-list-cover {
   display: none;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, .6);
 }

 .course_img .demo-upload-list:hover .demo-upload-list-cover {
   display: block;
 }

 .course_img .demo-upload-list-cover i {
   color: #fff;
   font-size: 20px;
   cursor: pointer;
   margin: 0 2px;
 }

 .uploadSty {
   width: 23px;
   height: 18px;
   position: absolute;
   right: 90px;
   top: 26px;
 }

 .ivu-upload-drag,
 .uploadSty .ivu-btn {
   border: 0 !important;
   padding: 0;
   border-radius: 0;
   height: 100%;
   background: none;
 }

 .ivu-upload input[type=file] {
   display: none;
 }
 .icon-upload {
   width: 23px;
   height: 18px;
   background: url('../../assets/images/video/upload-img-icon.png') no-repeat center;
   background-size: contain;
 }
/* .ivu-menu-item:hover{
  background: #F3F6FF;
} */