a {
 color: #2d8cf0;
 background: 0 0;
 text-decoration: none;
 outline: 0;
 cursor: pointer;
 -webkit-transition: color .2s ease;
 transition: color .2s ease
}

a:hover {
 color: #57a3f3
}

a:active {
 color: #2b85e4
}

a:active,a:hover {
 outline: 0;
 text-decoration: none
}

a[disabled] {
 color: #ccc;
 cursor: not-allowed;
 pointer-events: none
}
.ivu-btn,.ivu-btn:active,.ivu-btn:focus {
 outline: 0
}

.ivu-btn:not([disabled]):hover {
 text-decoration: none
}

.ivu-btn:not([disabled]):active {
 outline: 0
}

.ivu-btn.disabled,.ivu-btn[disabled] {
 cursor: not-allowed
}

.ivu-btn.disabled>*,.ivu-btn[disabled]>* {
 pointer-events: none
}
.ivu-btn:before {
 position: absolute;
 top: -1px;
 left: -1px;
 bottom: -1px;
 right: -1px;
 background: #fff;
 opacity: .35;
 content: '';
 border-radius: inherit;
 z-index: 1;
 -webkit-transition: opacity .2s;
 transition: opacity .2s;
 pointer-events: none;
 display: none
}

.ivu-btn.ivu-btn-loading {
 pointer-events: none;
 position: relative
}
@font-face {
 font-family:Ionicons;src:url(fonts/ionicons.woff2?v=3.0.0) format("woff2"),url(fonts/ionicons.woff?v=3.0.0) format("woff"),url(fonts/ionicons.ttf?v=3.0.0) format("truetype"),url(fonts/ionicons.svg?v=3.0.0#Ionicons) format("svg");font-weight:400;font-style:normal
}
.ivu-page-item-active{
  background:rgba(2,103,255,1);
  color: #0267FF;
}
.ivu-page-prev {
  margin-right: 4px
}

.ivu-page-item-jump-next,.ivu-page-item-jump-prev {
  margin-right: 4px
}

.ivu-page-item-jump-next,.ivu-page-item-jump-prev,.ivu-page-next,.ivu-page-prev {
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 30px;
  width:30px;
  height:30px;
  background:rgba(239,239,239,1);
  border-radius:2px;
  list-style: none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.ivu-page-item-jump-next,.ivu-page-item-jump-prev {
  border-color: transparent
}

.ivu-page-next,.ivu-page-prev {
  background-color: #fff
}

.ivu-page-next a,.ivu-page-prev a {
  color: #666;
  font-size: 14px
}

.ivu-page-next:hover,.ivu-page-prev:hover {
  border-color: #2d8cf0
}

.ivu-page-next:hover a,.ivu-page-prev:hover a {
  color: #2d8cf0
}
.ivu-icon {
  display: inline-block;
  font-family: Ionicons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle
}
.ivu-icon-ios-arrow-back:before {
  content: "\f115"
}
.ivu-icon-ios-arrow-forward:before {
	content: "\f11f"
}
.ivu-page-item {
  display: inline-block;
  vertical-align: middle;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 5px;
  text-align: center;
  list-style: none;
  width:30px;
  height:30px;
  background:rgba(239,239,239,1);
  border-radius:2px;
  cursor: pointer;
  -webkit-transition: border .2s ease-in-out,color .2s ease-in-out;
  transition: border .2s ease-in-out,color .2s ease-in-out
}

.ivu-page-item a {
  margin: 0 6px;
  color: #666666;
}

.ivu-page-item:hover {
  border-color: #2d8cf0
}

.ivu-page-item:hover a {
  color: #0267FF
}

.ivu-page-item-active {
  background:rgba(2,103,255,1);
}

.ivu-page-item-active a,.ivu-page-item-active:hover a {
  color: #ffffff;
  font-weight:400;
  font-size: 12px;
}

.ivu-page-item-jump-next:after,.ivu-page-item-jump-prev:after {
  content: "•••";
  display: block;
  letter-spacing: 1px;
  color: #ccc;
  text-align: center
}

.ivu-page-item-jump-next i,.ivu-page-item-jump-prev i {
  display: none
}

.ivu-page-item-jump-next:hover:after,.ivu-page-item-jump-prev:hover:after {
  display: none
}

.ivu-page-item-jump-next:hover i,.ivu-page-item-jump-prev:hover i {
  display: inline
}

.ivu-page-item-jump-prev:hover i:after {
  content: "\F115";
  margin-left: -8px
}

.ivu-page-item-jump-next:hover i:after {
  content: "\F11F";
  margin-left: -8px
}

.ivu-page-prev {
  margin-right: 4px
}

.ivu-page-item-jump-next,.ivu-page-item-jump-prev {
  margin-right: 4px
}

.ivu-page-item-jump-next,.ivu-page-item-jump-prev,.ivu-page-next,.ivu-page-prev {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background:rgba(239,239,239,1);
  border-radius:2px;
}

.ivu-page-item-jump-next,.ivu-page-item-jump-prev {
  border-color: transparent
}

.ivu-page-item-active {
  border-color: #2d8cf0
}

.ivu-page-item-active a,.ivu-page-item-active:hover a {
  color: #ffffff;
}
.ivu-page-disabled {
 cursor: not-allowed
}

.ivu-page-disabled a {
 color: #ccc
}

.ivu-page-disabled:hover {
 border-color: #dcdee2
}

.ivu-page-disabled:hover a {
 color: #ccc;
 cursor: not-allowed
}
